{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

{# FLASH MESSAGES #}
{% for type, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
  {% for message in messages %}
    <div class="alert alert-{{ type }}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endfor %}

{% endblock %}
